@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.button, .btn-second, .btn-home {
  display: inline-flex;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
  border: none;
  transition: all 0.2s;
}

.btn-home {
  background-color: #588733;
  color: #fff;
}
.btn-home:hover {
  background-color: #3C5F21 !important;
  color: #fff !important;
}

.btn-second {
  background-color: #fff;
  color: #588733;
  border: 2px solid #588733;
}
.btn-second:hover {
  background-color: #588733;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-out;
  list-style-type: none;
  text-decoration: none !important;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
}

p {
  margin-bottom: 0;
}

.icon {
  font-size: 24px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  color: #2b2b2b;
}

.navbar-nav .nav-link.active {
  color: #588733;
}

.navbar-fl {
  background-color: #fff;
}
.navbar-fl .container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.hero {
  background-image: url("../images/bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hero .content .heading {
  font-size: 64px;
  font-weight: 600;
  color: #fff;
}
.hero .content .sub-heading {
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
}
.hero .content .btn-home {
  margin-top: 32px;
}

.statis {
  max-width: 56rem;
  border-radius: 24px;
  margin-top: -55px;
  margin-bottom: 50px;
}
.statis span {
  font-size: 48px;
  font-weight: 600;
  color: #588733;
}
.statis p {
  font-size: 18px;
  font-weight: 500;
}
.statis .border-green {
  padding-left: 44px;
  padding-right: 44px;
  border-left: solid 2px #588733;
  border-right: solid 2px #588733;
}

.categories .grid-fl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.categories .grid-fl .card-fl {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.categories .grid-fl .card-fl img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
.categories .grid-fl .card-fl img:hover {
  scale: 1.1;
}
.categories .grid-fl .card-fl .card-content {
  position: absolute;
  padding: 16px;
  background-color: rgba(222, 222, 222, 0.32);
  bottom: 16px;
  left: 16px;
  right: 16px;
  text-align: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 12px;
}
.categories .grid-fl .card-fl .card-content .card-text {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}
.categories .grid-fl .card-fl .card-content p {
  color: #fff;
}

.products .grid-fl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.products .grid-fl .card-fl {
  background-color: #fff;
  border: none;
  border-radius: 12px !important;
  overflow: hidden;
}
.products .grid-fl .card-fl .icon-like {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  top: 16px;
  right: 16px;
  border-radius: 8px;
}
.products .grid-fl .card-fl .icon-like .icon {
  color: #f36464;
}
.products .grid-fl .card-fl .card-body {
  padding: 16px;
}
.products .grid-fl .card-fl .card-body .icon {
  color: #FBC845;
  margin-right: 8px;
}
.products .grid-fl .card-fl .card-body p {
  color: #808080;
}
.products .grid-fl .card-title {
  font-size: 22px;
  font-weight: 600;
}

.about {
  padding-bottom: 100px;
}
.about .wrapper {
  display: flex;
  align-items: center;
}
.about .wrapper img,
.about .wrapper .content {
  width: 50%;
}
.about .wrapper img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.about .wrapper .content {
  padding-left: 8rem;
  padding-right: 8rem;
}
.about .wrapper .content h3 {
  font-size: 24px;
  color: #588733;
}
.about .wrapper .content p {
  color: #808080;
}

.testi {
  background-color: #1e1e1e;
}
.testi h3 {
  font-size: 24px;
  color: #588733;
}
.testi .section-title {
  color: #fff;
  font-size: 40px;
}
.testi .img-testi1,
.testi .img-testi2 {
  width: 320px;
}
.testi .img-testi1 {
  -webkit-animation: floatUp 10s infinite alternate;
          animation: floatUp 10s infinite alternate;
}
.testi .img-testi2 {
  -webkit-animation: floatDown 10s infinite alternate;
          animation: floatDown 10s infinite alternate;
}

@-webkit-keyframes floatUp {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
@-webkit-keyframes floatDown {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(40px);
  }
}
@keyframes floatDown {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(40px);
  }
}
.footer {
  background-image: url("../images/img-footer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 372px;
  border-radius: 24px;
}
.footer .d-flex {
  height: 372px;
}
.footer .d-flex .section-title {
  color: #fff;
  font-size: 40px;
}
.footer .d-flex p {
  color: #fff;
}

.dashboard {
  background-image: url("../images/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.dashboard .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.dashboard .box {
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}
.dashboard .img-table {
  width: 100px;
}

.contact {
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact .box {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 24px;
  padding: 40px;
  position: absolute;
  z-index: 2;
  left: 9%;
  right: 9%;
}
.contact .box form {
  margin-left: 40px;
}
.contact .clip {
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: #588733;
  height: 30rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}/*# sourceMappingURL=style.css.map */